<!--內容區-->
<div class="Talk_Content Scroll">
    <!--單筆訊息 From -->
    <div class="Message" ng-repeat="val in activeRoom.msg" single-msg="val"></div>
</div>
<!--功能區-->
<div class="Talk_Menu">
    <div class="Talk_Menu_item Talk_Menu_emoji" ></div>
    <div class="Talk_Menu_item Talk_Menu_sticker" ></div>
    <div class="Talk_Menu_item Talk_Menu_file" ></div>
    <div class="Talk_Menu_item Talk_Menu_catch" ng-click='openCapturer()'></div>
    <!--文字大小-->
    <div class="Talk_Menu_item_A Talk_Menu_Aa"></div>
    <div class="Talk_Menu_item_A Talk_Menu_A"></div>
    <div class="Talk_Menu_item_A Talk_Menu_Ad"></div>
    <div class="Talk_Menu_txt"></div>
</div>
<!--輸入區-->
<div class="Talk_input">
    <div class='writeBox' contenteditable="true">{{userInput}}</div>
    <!--
    <div class="Talk_input_btnTB">
        <input type="button" name="button" value="傳送" class="Talk_input_btn" />
    </div>
    -->
</div>
<!--表情-->
<div id="emoji">
    <div class="emoji_TB">
        <div class="emoji_item"><img src="images/emoji/emoji_img_1.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_2.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_3.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_4.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_5.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_6.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_7.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_8.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_9.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_10.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_11.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_12.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_13.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_14.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_15.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_16.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_17.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_18.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_19.png" alt="" /></div>
        <div class="emoji_item"><img src="images/emoji/emoji_img_20.png" alt="" /></div>
    </div>
    <div class="emoji_arrow"></div>
</div>
<!--貼圖 喜鴻吉祥物-->
<div id="sticker">
    <div class="sticker_TB">
        <div class="sticker_item"><img src="images/sticker/sticker_img_1.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_2.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_3.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_4.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_5.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_6.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_7.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_8.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_9.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_10.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_11.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_12.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_13.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_14.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_15.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_16.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_17.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_18.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_19.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_20.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_21.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_22.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_23.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_24.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_25.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_26.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_27.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_28.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_29.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_30.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_31.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_32.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_33.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_34.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_35.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_36.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_37.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_38.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_39.png" alt="" /></div>
        <div class="sticker_item"><img src="images/sticker/sticker_img_40.png" alt="" /></div>
    </div>
    <div class="sticker_arrow"></div>
</div>
